<html>
   <head>
      <title>{% block title %}智能信息平台{% end %}</title>
      <link rel='stylesheet' href='{{ static_url("paper.css") }}' type='text/css'>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
      {% block custom_style %}{% end %}
   </head>
   
   {% import re %}
   {% from tornado.escape import url_unescape %}
   
   <body>
    <div id='body'>
        <div id='header'>
            <div style='float:right'>
                {% if current_user %}
                    {{ current_user }}<a href='/auth/logout?next={{ url_escape(request.uri) }}'>{{ _("登出") }}</a>
                {% else %}
                    {% raw _('<a href="%(url)s">登入</a>') %{'url': '/auth/login?next=' + url_escape(request.uri)} %}
                    <a href='/auth/create?next={{ url_escape(request.uri) }}'>注册</a>
                {% end %}
            </div>
            <h1><a href='/'>智能信息平台</a></h1>
        </div>    
        <div class='topnav'>
            <a {% if request.path.startswith('/paper/') %}class='active'{% end %}href='/paper/index'>arxiv论文</a>
        </div>
        <br>
        {%block search %}
            <div>
            <form action='/search' method='GET'>
            <input name='keyword' type='text' class='search_ipt' value='{{ request.query_arguments.get('keyword', [b''])[0].decode() }}'>
            <input type='submit' value='搜索' class='search_btn'>
            </form>
            </div>
        {% end %}
        <div id='content'>
            <div class='dir'>
                <h3>目录</h3>
                <ol>
                <li><a href='/paper/index'>文章索引</a></li>
                <li>
                    <button type='button' class='collapsible'>智能分类</button>
                    <div class='dropdown_content' {% if request.path.startswith('/topic') %}style="display:block"{% end %}>
                    <ol>
                    {% for i in range(10) %}
                        <li><span class='side_link'><a href='/topic/{{i}}'>&nbsp;编号{{i}}</a></span></li>
                    {% end %}
                    </ol>
                    </div>
                </li>
                <li><a href='/recommender'>为你推荐</a></li>
                </ol>
            </div>
            <div>
                {% block body %}
                    内容待定
                {% end %}
            </div>
        </div>
    </div>
   </body>
   
   <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
   </script>
</html>
