<html>
   <head>
      <title>{% block title %}智能信息平台{% end %}</title>
      <link rel='stylesheet' href='{{ static_url("paper.css") }}' type='text/css'>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
      {% block custom_style %}{% end %}
   </head>
   
   {% import re %}
   {% import datetime %}
   {% from tornado.escape import url_unescape %}
   
   <body>
    <div id='body'>
        <div id='header'>
            <div style='float:right'>
                {% if current_user %}
                    {{ current_user }}<a href='/auth/logout?next={{ url_escape(request.uri) }}'>{{ _("登出") }}</a>
                {% else %}
                    {% raw _('<a href="%(url)s">登入</a>') %{'url': '/auth/login?next=' + url_escape(request.uri)} %}
                    <a href='/auth/create?next={{ url_escape(request.uri) }}'>注册</a>
                {% end %}
            </div>
            <h1><a href='/'>智能信息平台</a></h1>
        </div>    
        <div class='topnav'>
            <a {% if request.path.startswith('/arxiv/') %}class='active'{% end %}href='/arxiv/index'>arxiv论文</a>
            <a {% if request.path.startswith('/meiti/') %}class='active'{% end %}href='/meiti/index'>媒体文章</a>
        </div>
        <br>
        {% block search %}
        {% end %}
        <div id='content'>
            {% block sub_dir %}
            {% end %}
            <div>
                {% block body %}
                    内容待定
                {% end %}
            </div>
        </div>
    </div>
   </body>
   
   <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
   </script>
</html>
