{% extends 'base.html' %}

{% block search %}
    <div>
    <form action='/{{ collection }}/search' method='GET'>
    <input name='keyword' type='text' class='search_ipt' value='{{ request.query_arguments.get('keyword', [b''])[0].decode() }}'>
    <input type='submit' value='搜索' class='search_btn'>
    </form>
    </div>
{% end %}

{% block sub_dir %}
    <div class='dir'>
        <h3>目录</h3>
        <ol>
        <li><a href='/{{ collection }}/paper/index'>文章索引</a></li>
        <li>
            <button type='button' class='collapsible'>智能分类</button>
            <div class='dropdown_content' {% if '/topic/' in request.path %}style="display:block"{% end %}>
            <ol>
            {% set current_topic = re.search(r'topic/([0-9]+)', request.path) %}
            {% if current_topic %}
                {% set current_topic = current_topic.group(1) %}
            {% else %}
                {% set current_topic = None %}
            {% end %}
            {% for i in range(10) %}
                <li class='{%if current_topic == str(i) %}active{% end %}'><span class='side_link'><a href='/{{ collection }}/topic/{{i}}'>&nbsp;编号{{i}}</a></span></li>
            {% end %}
            </ol>
            </div>
        </li>
        <li><a href='/{{ collection }}/recommender'>为你推荐</a></li>
        </ol>
    </div>
{% end %}
